/* rubiCanon.overlay — SuperMini nRF52840 (10×4, col2row) */
#include <dt-bindings/zmk/matrix_transform.h>



    /* ---------- GPIO STATUS ---------- */
    &gpio0 {
        status = "okay";
    };

    &gpio1 {
        status = "okay";
    };
   

/{
    compatible = "zmk,keyboard-shield";
 

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <12>;
        status = "okay";
    };

     sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = &right_encoder;
        triggers-per-rotation = <96>;
    };
};
 

